/* styles.css */
body {
  font-family: 'Source Code Pro', ui-monospace, SFMono-Regular, Menlo, Monaco, "Roboto Mono", "Courier New", monospace;
  font-size: 16px;
  line-height: 1.5;
  margin: 20px;
}

h1 {
  font-size: 120px;
  margin-bottom: 12px;
}

p {
  font-size: 16px;
}

a {
  font-size: 16px;
  color: #008001;
  text-decoration: none;
}
